.dc-to { }
.dc-product { float:none;  border:0 none;}
.dc-top span span {margin:0 5px;background:#404040; color:#fff; font: 600 16px/22px "Open Sans", sans-serif; padding:3px 5px; border-radius:5px; margin-right:5px;   position:relative; text-align:center;}
.dc-top span span em {font-style:normal; position:absolute; top:100%; left:50%; color:#777; font-size:10px; font-weight:normal;
                      -webkit-transform: translateX(-50%);
                      -ms-transform: translateX(-50%);
                      transform: translateX(-50%);
                      line-height:1.2em;
}
.dc-top strong {display: block;padding-bottom: 10px;}